
<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <product-list/>

            <div class="footer-pagination">
                <div class="row">
                    <div class="col-md-6">
                        <!-- <nav aria-label="Page navigation example">
                            <ul class="pagination">
                              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                              <li class="page-item"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav> -->
                    </div>
                    <!-- <div class="col-md-3">
                        <div class="items">
                            <label>Item per page</label> <select>
                                <option>10</option>
                                <option>20</option>
                                <option>30</option>
                                <option>40</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="number">1 - 10 of 100</div>
                    </div>
                    <div class="col-md-1">
                        <div class="arrows">
                            <a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>